/* @font-face { font-family: 'Cascadia Code'; src: url('cascadia-code-pl.woff2') format('woff2') } */
* { box-sizing:border-box; -webkit-font-smoothing: antialiased; font-family: unset; }

html, body { margin: 0; font-family: system-ui; line-height: 1.5; }

main { width: 100%; max-width: 700px; padding: 0 30px; margin: 0 auto; }

header { padding: 30px 0 0px; font-size: 14px; color: #94a5c3; display: flex; align-items: center; }
header > * { margin: 0 10px 0 0; font-size: 14px; }
header > img { width: 30px; border-radius: 50%; }

a { color: unset; font-weight: 700;  }
/* a { color: #7c4dff; transition: border 0.3s ease-in-out; font-weight: 700; text-decoration: unset; border-bottom: 2px solid transparent;  }
a:hover { border-color: #00c8ff; } */
iframe { border: unset; }
iframe.youtube { width: 640px; height: 480px; }
code { font-family: monospace; font-weight: 500; background: #fafafa; color: #7c4dff; padding: 4px; font-size: 14px;}

nav { position: fixed; background: #fff; transition: left 0.1s ease-in-out; z-index: 1; top: 0; right: 0; bottom: 0; overflow: auto; width: 200px; padding: 20px; }
nav > span { margin-bottom: 20px; }
nav > * { margin-bottom: 10px; display: block; font-weight: 300; font-size: 14px; border: unset; }
nav { left: -200px; }
nav.on { left: 0; }

.navicon { cursor: pointer; margin-right: 5px; display: inline-flex; align-items: center; justify-content: center; }

section { padding-top: 20px; padding-bottom: 40px; color: #282936;  }
section > * { margin: 0 0 20px 0; }
section > :first-child:is(p) { user-select: none; display: flex; color: #a3a3be; margin-bottom: 10px; }
section > h1 { position: relative;  font-weight: 400; font-size: 36px; line-height: 1.2; margin-bottom: 12px; }
section > h1 + p { font-size: 18px; }
section table { width: 100%; }
section tr > * { padding: 8px; vertical-align: top; font-size: 14px; border: 1px solid #e5e5e5; line-height: 1.2; }
section th { text-transform: uppercase; }
section dl { padding: 10px 0; margin: 0 0 0px 0; }
section dt { color: #a3a3be; font-size: 14px; }
section dd { margin: 0; }

pre code.hljs { font-family: monospace; font-weight: initial; padding: 30px; font-size: 14px; clip-path: inset(0 0 0 0 round 4px); }
pre code.hljs.overflow { padding-bottom: 10px; }
pre code { font-weight: initial; }
pre code::-webkit-scrollbar { height: 26px; width: 26px; }
pre code::-webkit-scrollbar-track { background-color: transparent; }
pre code::-webkit-scrollbar-thumb { background-color: #4a4b5e; border: 10px solid #282936; border-radius: 13px; }

pre > .tabs { display: flex; margin: 0 -8px 5px -8px; }
pre > .tabs > .tab { margin: 5px 8px; cursor: pointer; }
pre > .tabs > .tab.active { font-weight: bold; }
pre[data-code] > code { display: none; }
pre.view-source > code { display: block; }
pre > iframe { width: 100%; min-height: 250px; clip-path: inset(0 0 0 round 4px) }
pre.view-source > iframe { display: none; }

aside { position: relative; padding: 30px; /*margin-top: 30px; border-top: 3px dashed #f1f1f1;*/ }
figure img { width: 100%; border-radius: 50%; display: block; }
figure { width: 160px; margin: 0 auto 20px auto; }
aside > p { margin: 0; font-size: 16px; color: #a3a3be; text-align: center; }
@media (min-width: 700px) {
  aside { padding: 30px 0; display: flex; align-items: center; }
  figure { margin: unset; width: unset; flex-basis: 130px; flex-shrink: 0;  }
  aside > p { padding-left: 30px; flex-grow: 1; text-align: left; }
}
